{% extends 'index.html' %}

{% block title %}
blog is blog
{% endblock %}

{% block content %}
    <div class="Home">
       {% include 'blog/carusel_blog.html' %}
        <p class="latest-post">Latest Post</p>

        <div class="blog-grid">
            {% for blog in range(blogs) %}
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="{{ url_for('media', path='thumbnail/IS00770-feature-4x3.jpg') }}">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title truncate">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size
                                world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="{{ url_for('media', path='author picture/itachi uchiha.jpg') }}">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
        <div class="view-all-post-button-container">
            <button class="view-all-post-button">View all post</button>
        </div>
    </div>
{% endblock %}