 <div class="homepage-image-container">
            <img class="homepage-image" src="{{ url_for('media', path='body image/space home image.jpg') }}">
            <div class="suggested-blog">
                <div class="suggested-blog-button-container">
                    <button class="blog-category-button">Technology</button>
                </div>
                <div class="blog-title truncate">
                    <p>Researchers Find New Approach to Explore Earliest
                        Universe Dynamics With Gravitational Waves</p>
                </div>
                <div class="author-information">
                    <div class="author-image-container">
                        <img class="author-image" src="{{ url_for('media', path='author picture/levi ackerman.jfif') }}">
                    </div>
                    <div class="author-name">
                        <p>Levi Ackerman</p>
                    </div>
                    <div class="blog-post-date">
                        <p>12 september, 2022</p>
                    </div>
                </div>
            </div>
        </div>
