<!DOCTYPE html>
<html>

<head>
    <title>Event Horizon</title>
    <script src={% url_for "" %} crossorigin="anonymous"></script>
    <!-- google fonts section  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/body.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>
    <div class="header">
        <div class="left-section">
            <img class="blog-logo" src="header icon/black-hole.png">
            <p class="Website-name">Event-Horizon</p>
        </div>
        <div class="middle-section">
            <button class="middle-section-button">Home</button>
            <button class="middle-section-button">Blog</button>
            <button class="middle-section-button">Single Post</button>
            <button class="middle-section-button">Pages</button>
            <button class="middle-section-button">Contact</button>


        </div>
        <div class="right-section">
            <div class="search-bar-container">
                <input class="search-bar" placeholder="Search"></input>
                <button class="search-button">
                    <img class="search-icon" src="header icon/search-interface-symbol.png">
                </button>
            </div>
            <button class="login-button p310">LOG IN</button>
        </div>
    </div>
    <div class="Home">
        <div class="homepage-image-container">
            <img class="homepage-image" src="body image/space home image.jpg">
            <div class="suggested-blog">
                <div class="suggested-blog-button-container">
                    <button class="blog-category-button">Technology</button>
                </div>
                <div class="blog-title truncate">
                    <p>Researchers Find New Approach to Explore Earliest
                        Universe Dynamics With Gravitational Waves</p>
                </div>
                <div class="author-information">
                    <div class="author-image-container">
                        <img class="author-image" src="author picture/levi ackerman.jfif">
                    </div>
                    <div class="author-name">
                        <p>Levi Ackerman</p>
                    </div>
                    <div class="blog-post-date">
                        <p>12 september, 2022</p>
                    </div>
                </div>
            </div>
        </div>

        <p class="latest-post">Latest Post</p>

        <div class="blog-grid">
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title truncate">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size
                                world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="blog-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="thumbnail/IS00770-feature-4x3.jpg">
                    </div>

                    <div class="blog-information">
                        <div class="blog-category">
                            <span>Technology</span>
                        </div>
                        <div class="blog-title">
                            <p>NASA's Spitzer, TESS find potentially volcano-covered Earth-size world</p>
                        </div>
                        <div class="author-information">
                            <div class="author-image-container">
                                <img class="author-image" src="author picture/itachi uchiha.jpg">
                            </div>
                            <div class="author-name">
                                <p>Itachi Uchiha</p>
                            </div>
                            <div class="blog-post-date">
                                <p>May 17, 2023</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="view-all-post-button-container">
            <button class="view-all-post-button">View all post</button>
        </div>
    </div>
    <div class="footer">
        <div class="footer-elements-container">
            <div class="section-1">
                <p style="font-weight: 700">About</p>
                <p style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum tempora quas sapiente, impedit ex et fuga illum
                    molestiae ullam facere adipisci esse iusto quisquam possimus
                    nemo libero ipsam eligendi alias.</p>
            </div>
            <div class="section-2">
                <p style="font-weight: 700">Quick Link</p>
                <p>Home</p>
                <p>About</p>
                <p>Blog</p>
                <p>Archived</p>
                <p>Author</p>
                <p>Contact</p>
            </div>
            <div class="section-3">
                <p style="font-weight: 700">Category</p>
                <p>Space</p>
                <p>Physics</p>
                <p>Technology</p>
                <p>Life Science</p>
            </div>
            <div class="section-4">
                <div class="subscribe-container">
                    <p style="font-weight: 700; margin-top: 0; margin-bottom: 5px;">Weekly Newsletter</p>
                    <p style="margin: 0; font-size: 14px; color: rgb(151, 149, 149)">Get blog articles and offers via
                        email</p>
                    <div class="subscribe-email-container">
                        <input class="email" placeholder="Your Email"></input>
                        <button class="email-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </button>
                    </div>
                    <button class="subscribe-button">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="foot-container">
                <div class="footer-logo">
                    <img class="foot-blog-logo" src="header icon/black-hole.png">
                    <div class="copyright-webname">
                        <p class="foot-Website-name">Event-Horizon</p>
                        <p class="copyright">&copy; JS Template 2023. All Rights Reserverd.</p>
                    </div>
                </div>
                <div class="policies">
                    <button class="terms-of-use-button">Terms Of Use</button>
                    <button class="privacy-policy-button">Privacy Policy</button>
                    <button class="cookie-policy-button">Cookie Policy</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>