<div class="footer">
        <div class="footer-elements-container">
            <div class="section-1">
                <p style="font-weight: 700">About</p>
                <p style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum tempora quas sapiente, impedit ex et fuga illum
                    molestiae ullam facere adipisci esse iusto quisquam possimus
                    nemo libero ipsam eligendi alias.</p>
            </div>
            <div class="section-2">
                <p style="font-weight: 700">Quick Link</p>
                <p>Home</p>
                <p>About</p>
                <p>Blog</p>
                <p>Archived</p>
                <p>Author</p>
                <p>Contact</p>
            </div>
            <div class="section-3">
                <p style="font-weight: 700">Category</p>
                <p>Space</p>
                <p>Physics</p>
                <p>Technology</p>
                <p>Life Science</p>
            </div>
            <div class="section-4">
                <div class="subscribe-container">
                    <p style="font-weight: 700; margin-top: 0; margin-bottom: 5px;">Weekly Newsletter</p>
                    <p style="margin: 0; font-size: 14px; color: rgb(151, 149, 149)">Get blog articles and offers via
                        email</p>
                    <div class="subscribe-email-container">
                        <input class="email" placeholder="Your Email"></input>
                        <button class="email-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </button>
                    </div>
                    <button class="subscribe-button">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="foot-container">
                <div class="footer-logo">
                    <img class="foot-blog-logo" src="{{ url_for('media', path='header_icon/black-hole.png') }}">
                    <div class="copyright-webname">
                        <p class="foot-Website-name">Event-Horizon</p>
                        <p class="copyright">&copy; JS Template 2023. All Rights Reserverd.</p>
                    </div>
                </div>
                <div class="policies">
                    <button class="terms-of-use-button">Terms Of Use</button>
                    <button class="privacy-policy-button">Privacy Policy</button>
                    <button class="cookie-policy-button">Cookie Policy</button>
                </div>
            </div>
        </div>
    </div>