<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="https://kit.fontawesome.com/c4c938589b.js" crossorigin="anonymous"></script>
    <!-- google fonts section  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

     <link href="{{ url_for('static', path='styles/body.css') }}" rel="stylesheet">

     <link href="{{ url_for('static', path='styles/footer.css') }}" rel="stylesheet">

     <link href="{{ url_for('static', path='styles/general.css') }}" rel="stylesheet">

     <link href="{{ url_for('static', path='styles/header.css') }}" rel="stylesheet">
    <title>{% block title %}
    
    {% endblock %}</title>
  {% block head %}
  
  {% endblock %}
</head>
<body>
{% include 'navbar.html' %}
{% block content %}

{% endblock %}
{% include 'footer.html' %}

{% block script %}

{% endblock %}
</body>
</html>