<div class="header">
        <div class="left-section">
            <img class="blog-logo" src="{{ url_for('media', path='header_icon/black-hole.png') }}">
            <p class="Website-name">Event-Horizon</p>
        </div>
        <div class="middle-section">
            <button class="middle-section-button">Home</button>
            <button class="middle-section-button">Blog</button>
            <button class="middle-section-button">Single Post</button>
            <button class="middle-section-button">Pages</button>
            <button class="middle-section-button">Contact</button>


        </div>
        <div class="right-section">
            <div class="search-bar-container">
                <input class="search-bar" placeholder="Search"></input>
                <button class="search-button">
                    <img class="search-icon" src="{{ url_for('media', path='header_icon/search-interface-symbol.png') }}">
                </button>
            </div>
            <button class="login-button p310">LOG IN</button>
        </div>
    </div>