.homepage-image-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.homepage-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.suggested-blog {
  position: absolute;
  background-color: white;
  height: 170px;
  width: 350px;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;

  top: 250px;
  left: 50px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.blog-category-button {
  background-color: blue;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.blog-title {
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap; */
}

.author-information {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  padding-right: 90px;
}

.author-image {
  height: 40px;
  width: 40 px;
  border-radius: 20px;
}

.latest-post {
  margin-top: 70px;
  font-weight: 700;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 25px;
}

.blog-grid a {
  text-decoration: none;
  color: inherit;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(209, 204, 204);
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
}

.thumbnail {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.blog-category {
  margin-top: 5px;
}

.blog-category span {
  background-color: rgb(238, 251, 255);
  color: rgb(92, 61, 231);
  font-size: 14px;
  font-weight: 500;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
}

.view-all-post-button {
  height: 40px;
  font-family: Roboto, Arial;
  font-size: 14px;
  border-width: 1px;
  border-color: rgb(199, 196, 196);
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  margin-top: 5px;
  margin-left: 45%;
  padding: 10px 15px 10px 15px;
}

.view-all-post-button:active {
  opacity: 0.5;
}
