.footer {
  margin: 0;
  background-color: rgb(245, 239, 239);
  height: 300px;
}

.footer-elements-container {
  display: flex;
  padding: 0px 150px 0px 150px;
  justify-content: space-between;
}

.section-1 {
  flex: 2;
  padding: 0px 20px 5px 0px;
}

.section-1 p {
  font-family: Roboto, Arial;
}

.section-2 {
  flex: 1;
  padding: 0px 10px 5px 10px;
}

.section-2 p {
  font-family: Roboto, Arial;
}
.section-3 {
  flex: 1;
  padding: 0px 10px 5px 10px;
}

.section-3 p {
  font-family: Roboto, Arial;
}

.section-4 {
  flex: 2;
  position: relative;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 240px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  right: 0px;
}

.subscribe-container p {
  font-family: Roboto, Arial;
}

.subscribe-email-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.email {
  margin-top: 5px;
  height: 30px;
  border-radius: 3px;
  border: 1px;
  border-color: rgb(199, 191, 191);
  border-style: solid;
  width: 100%;
}

.email:focus {
  outline: none;
}

.email-icon {
  position: absolute;
  right: 2px;
  height: 30px;
  top: 7px;
  border: none;
  background-color: white;
}

.subscribe-button {
  margin-top: 5px;
  height: 32px;
  border-radius: 3px;
  border: none;
  background-color: rgb(65, 120, 240);
  color: white;
  transition: background-color 0.15s;
  cursor: pointer;
  width: 100%;
}

.subscribe-button:hover {
  background-color: rgb(4, 77, 233);
}

.subscribe-button:active {
  opacity: 0.5;
}

.foot {
  margin: 0;
  height: 100px;
  background-color: rgb(245, 239, 239);
  padding: 10px 150px 10px 150px;
}

.foot-container {
  margin: 0;
  height: 100px;
  background-color: rgb(245, 239, 239);
  display: flex;
  align-items: center;
  position: relative;
  border-top-width: 1px;
  border-top-color: gray;
  border-top-style: solid;
}

.footer-logo {
  display: flex;
  position: absolute;
  left: 0px;
}

.foot-blog-logo {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.foot-Website-name {
  cursor: pointer;
  font-family: Pacifico, Arial;
  font-size: 24px;
  margin: 0;
}

.copyright {
  margin: 0;
  font-family: Roboto, Arial;
  font-size: 14px;
}

.policies {
  display: flex;
  position: absolute;
  right: 0px;
}

.terms-of-use-button,
.privacy-policy-button,
.cookie-policy-button {
  margin: 0;
  border: none;
  font-size: 15px;
  font-family: Roboto, Arial;
  font-weight: 400;
  background-color: rgb(245, 239, 239);
  cursor: pointer;
}

.privacy-policy-button {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-color: rgb(207, 204, 204);
  border-right-color: rgb(207, 204, 204);
  border-left-style: solid;
  border-right-style: solid;
}

.terms-of-use-button:active,
.privacy-policy-button:active,
.cookie-policy-button:active {
  opacity: 0.5;
}
