.header {
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 150px;
  right: 158px;
  z-index: 100;
}

.left-section {
  display: flex;
  width: 250px;
  align-items: center;
  flex-shrink: 0;
}

.blog-logo {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.Website-name {
  cursor: pointer;
  font-family: Pacifico, Arial;
  font-size: 24px;
}

.middle-section {
  flex: 1;
  min-width: 350px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.middle-section-button {
  background-color: white;
  border: none;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-style: 500;
  color: gray;
  transition: background-color 0.2s, color 0.2s;
}

.middle-section-button:hover {
  cursor: pointer;
}

.middle-section-button:active {
  opacity: 0.3;
}

.right-section {
  display: flex;
  width: 250px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.login-button {
  background-color: white;
  border: 1px;
  border-color: rgb(192, 190, 190);
  border-style: solid;
  border-radius: 3px;
  font-family: Roboto, Arial;
  font-weight: 500;
  height: 27px;
  width: 60px;
  margin-left: 40px;
  transition: background-color 0.15s, color 0.15s, border 0.15s;
}

.login-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
}

.login-button:active {
  opacity: 0.3;
}

.search-bar-container {
  display: flex;
  position: relative;
}

.search-bar {
  background-color: rgb(241, 234, 234);
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.search-bar:focus {
  outline: 0px;
}

.search-button {
  background-color: rgb(241, 234, 234);
  display: flex;
  height: 27px;
  border: none;
  /* border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; */
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.search-button:active {
  opacity: 0.3;
}

.search-icon {
  height: 13px;
}
